*{
    color: white;
}
body{
    /* background-image: url(fondo2.png);
    background-size: cover;
    background-position: center; */
    background-color: #2C2C2C;
    position: relative;
    overflow: hidden;
}
.volver{
    width: 170px;
    height: 45px;
    border-bottom: groove #82CAAF 7px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
.volver:hover{
    background-color: #424642;
    border-bottom: dotted #B676B1 7px;
}
.caja1{
    height: 100px;
    margin: auto auto;
    background-image: url(nyancat.gif);
    background-position: center;
    background-size:contain;
}
.imagen2{
    width: 300px;
    display: block;
    margin-left: auto;  
    margin-right: auto;
}
.texto{
    height: 300px;
    font-size: 40px;
}
