*{
    font-family: cursive;
}
h1{
    width: 34vh;
    height: 70px;
    margin: auto auto;
    text-align: center;
    margin-top: 15vh ;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size:4vh;
}
body{
    background-image: radial-gradient(circle,#A67B7B,black);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}
.b1{
    width: 27vw;
    height: 9vh;
    font-size: 2vh;
    border-bottom: groove #82CAAF 7px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
.b1:hover{
    background-color: #424642;
    border-bottom: dotted #B676B1 7px;
}
.caja{
    width: 30vw;
    height: 50vh;
    border: solid white 3px;
    margin: auto auto;
    margin-top: 4vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    /* position: relative; */
    z-index: 1;
    
}
.caja1{
    margin-top: 3vh;
    width: auto;
}

@media only screen and (max-width: 600px){
    .caja{
        width: 250px;
    }
    .b1{
        width: 200px;
    }
    .caja1{
        width: auto;
    }
   
  }
/* tooltip */
.tooltiptext{
  visibility: hidden;
  width: 30vw;
  background-color: #424642;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 9;
  font-size: 2vh;
}
.caja1:hover .tooltiptext{
  visibility: visible;
}

/* scroll */
/* Tamaño del scroll */
.caja::-webkit-scrollbar {
  width: 12px;
}

  /* Estilos barra (thumb) de scroll */
.caja::-webkit-scrollbar-thumb {
  background: #1ABC9C;
  border-radius: 4px;
}

.caja::-webkit-scrollbar-thumb:active {
  background-color: #12856e;
}

.caja::-webkit-scrollbar-thumb:hover {
  background: #12856e;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

  /* Estilos track de scroll */
.caja::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.caja::-webkit-scrollbar-track:hover, 
.caja::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}