h1{
    width: 34vh;
    height: 70px;
    margin: auto auto;
    text-align: center;
    margin-top: 15vh ;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size:4vh;
}
body{
    background-image: radial-gradient(circle,#A67B7B,black);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}
.b1{
    width: 27vw;
    height: 9vh;
    font-size: 2vh;
    border-bottom: groove #82CAAF 7px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
.b1:hover{
    background-color: #424642;
    border-bottom: dotted #B676B1 7px;
}
.caja{
    width: 30vw;
    height: 10vh;
    border: solid white 3px;
    margin: auto auto;
    margin-top: 4vh;
    padding-top:12vh;
    padding-bottom: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja1{
    margin-top: 3vh;
    width: 27vw;
    height: 9vh;
    
}
