body{
    background-color: #2C2C2C;
    color: white;
}
.b1{
    width: 24vw;
    height: 9vh;
    font-size: 2vh;
    border-bottom: groove #82CAAF 7px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}

.b1:hover{
    background-color: #424642;
    border-bottom: dotted #B676B1 7px;
}
.principal{
    grid-area: principal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.descripcion{
    padding-top: 4vh;
    grid-area: descripcion;
    font-size: 20px;
}
.skills{
    grid-area: skills;
    font-size: 20px;
}

.caja_general{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
    "principal descripcion descripcion"
    "principal descripcion descripcion"
    "principal skills skills";
    column-gap: 1vw;
    row-gap: 1vw;
}
.imagen{
    border-radius: 100%;
    width: 25vw;
    padding-top: 4vh;
    padding-bottom: 10px;
}

/* version movil */
@media only screen and (max-width: 800px){
    .caja_general{
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "descripcion descripcion principal"
        "descripcion descripcion vacio"
        "skills skills vacio";
    }
    .imagen{
        width: 30vw;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 5vh;
    }
    .b1{
        /* position: absolute; */
        margin-top: 25px
    }


}




