*{
    color: white
}
html{
    overflow: hidden;
}
.pregunta{
    font-family:monospace;
    font-size: 4vh;
    text-align: center;
}
body{
    /* background-image: url(fondo2.png);
    background-size: cover;
    background-position: center; */
    background-color: #2C2C2C;
    overflow: hidden;
}
.caja1{
    width: 100%;
    height: 25vh;
    margin: auto auto;
}
.caja2{
    width: 100%;
    height: 25vh;
    margin: auto auto;
}
.boxflex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
.volver{
    width: 20vh;
    height: 6vh;
    border-bottom: groove #82CAAF 7px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    font-size: 2vh;
}
.volver:hover{
    background-color: #424642;
    border-bottom: dotted #B676B1 7px;
}
.botonsi{
    width: 14vh;
    height: 5vh;
    border-bottom: solid greenyellow 5px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    margin-right: 10px;
    font-size: 2vh;
}
.botonno{
    width:14vh;
    height: 5vh;
    border-bottom: solid greenyellow 5px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    font-size: 2vh;
}
.botonsi:hover, .botonno:hover, .b1:hover, .b2:hover, .b3:hover, .b4:hover{
    border-bottom-color: tomato;
    background-color: #424642;
    color:gold;
}
.caja1, .caja2{
    /* border: blue solid 3px; */
    display: flex;   
}
.b1{
    position: relative;
    left:5vh;
    top: auto;
    margin-top:10vh;
    visibility: hidden;
}
.b2{
    position: relative;
    left:10vh;
    top: auto;
    margin-top: 5vh;
    visibility: hidden;
}
.b3{
    position: relative;
    left:3vh;
    top: auto;
    margin-top: 3vh;
    visibility: hidden;

}
.b4{
    position: relative;
    left:25%;
    margin-top: 15vh;
    visibility: hidden;
}
.b1,.b2,.b3,.b4{
    width: 14vh;
    height: 5vh;
    border-bottom: solid greenyellow 5px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    font-size: 2vh;
}

